
<h1>Products</h1>

<% if @products.empty? %>
	<h3>Currently there are no items in the Store :( !</h4>
<% end %>


<div class="row" id="product_index_page">
<% @products.each do |p|  %>
	<div class="col-lg-3">
		<%= image_tag p.image.url(:medium) %>
		<h4> <%= p.name %> </h4>
		<b class="pull-right"> &#8377; <%= p.rate %> </b>		
		<p> <%= p.description %> </p>			
	</div>
<% end %>
</div>
