
<div class="errors">
<% if @offer.errors.any? %>
	<div>
		Form has <%= pluralize(@offer.errors.count, "error") %>.
	</div>
	<ul>
		<% @offer.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>
</div>

<h1> Add New Offer </h2>

<%= render 'form' %>

