// Place all the styles related to the offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#offers_index_page {
	margin-top: 50px;
    margin-bottom: 20px;
    border: 2px solid #cccccc;
    padding: 20px 35px;
    border-radius: 5px;	
}